/* Pasha styles – Brand-overrides, can split these out */
:root {
  --accent-color: #9cabfd;
  --success-color: #5fed82;
  --headline-color: var(--accent-color);
  --logo-image: url("https://storage.googleapis.com/stripe-sample-images/logo-pasha.svg");
  background: #393F56;
}

.pasha-image-stack {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: auto auto;
}

.pasha-image-stack img {
  border-radius: var(--radius);
  background-color: var(--gray-border);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  transition: all 0.8s ease;
  opacity: 0;
}

.pasha-image-stack img:nth-child(1) {
  transform: translate(12px, -12px);
  opacity: 1;
}
.pasha-image-stack img:nth-child(2) {
  transform: translate(-24px, 16px);
  opacity: 1;
}
.pasha-image-stack img:nth-child(3) {
  transform: translate(68px, -100px);
  opacity: 1;
}

.sample-info {
  padding: 20px 30px;
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);

  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -250px;
  max-width: 500px;
}

.sr-book {
  justify-self: center;
  justify-content: center;
  font-size-adjust: var(--accent-color);
  margin: auto;
  cursor:  url('./fig.svg');
}


@media (max-width: 720px) {
  .sample-info {
    top: 0;
  }
}


/* BOOK ANIMATION */
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1200px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-36deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.book {
  width: 600px;
  height: 775px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 1.5s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotateY(-36deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 775px;
  transform: translateZ(42.5px);
  background-color: #2a3850;
  border-radius: 0 3px 3px 0;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.63);
}

.book::before {
  position: absolute;
  content: ' ';
  left: 0;
  top: 10px;
  width: 70px;
  height: 760px;
  transform: translateX(560px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 600px;
  height: 775px;
  transform: translateZ(-42.5px);
  background-color: #2a3850;
  border-radius: 0 3px 3px 0;
}